*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
#square {
    height:400px;
    width:400px;
    margin:160px auto;
    transform: rotate(45deg);
    border: 1px solid red;
    background-color: red;
}

#square::after{
    content: "";
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: red;
    position: absolute;
    bottom: 185px;
   

}

#square::before{
    content: "";
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: red;
    position: absolute;
    bottom: -1px;
    right: 198px;
}