*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
#heart {
    height:400px;
    width:400px;
    margin:160px auto;
    transform: rotate(45deg);
    
    background-color: red;
}

#heart::after{
    content: "";
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    bottom: 185px;
   

}

#heart::before{
    content: "";
    height: 400px;
    width: 400px;
    border-radius: 50%;
  
    background-color: red;
    position: absolute;
    bottom: -1px;
    right: 198px;
}
#heart:hover,#heart:hover::before,#heart:hover::after {
    background-color: green;
}
